<!-- <article class='Site'> -->
<footer>
	<div class="bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-10"><h4>Ready to get started for your next project</h4>
				</div>
				<div class="col-sm-2 pull-right col-xs-5  pull-left">
					<span><a ui-sref="getInTouch.getQuote(getQuote)" class="glyphicon glyphicon-share">&nbsp;LetsTalk </a></span>

				</div>
		  </div>
		</div>
  </div>

	<div class="container">
		<div class="row"><br>
			<div class="col-sm-3">
				<p><span class="glyphicon glyphicon-map-marker" style="color:#0E7480;font-size:2em"></span></p>
				 12800 Harrisglenn Drive<br>
         Austin, TX 78753<br>
         <span class="glyphicon glyphicon-envelope"></span>
          <a class="email" href="mailto:info@inventivelabs.co">info@inventivelabs.co</a><br>
       <span class="glyphicon glyphicon-envelope"></span> <a class="email" href="mailto:support@inventivelabs.c">support@inventivelabs.co</a><p>
        <span class="glyphicon glyphicon-phone"><span style="font-size:1.3em;color:#030C12;font-weight:bold;">(512)999-0018</span></span>&nbsp;<br>&nbsp;&nbsp;
          <br> 
        
         <a href = "https://facebook.com/inventtive" target="_blank"><i class="fa fa-facebook fa-2x" style="color:#032999;"></i></a>
      <a href="https://www.twitter.com/inventtive1" target="_blank"><i class="fa fa-twitter fa-2x" style="color:#059DF0;"></i></a>
        <a href = "https://pinterest.com/saidmaadan" target="_blank"><i class="fa fa-pinterest fa-2x" style="color:#C96B61;"></i></a>
        <a href = "https://instagram.com/saidmaadan" target="_blank"><i class="fa fa-instagram fa-2x" style="color:#1E5C85;"></i></a>
        <a href = "https://youtube.com/saidmaadan" target="_blank"><i class="fa fa-youtube fa-2x" style="color:#F00524;"></i></a></p>
      
      </div>
			<div class="col-sm-4" ng-controller='NavbarCtrl'>
				<p><span class="glyphicon glyphicon-user" style="color:#0E7480;font-size:2em"></span></p>
				<div class='about-footer'style="color:#0E7480;font-size:1.2em">{{about}}</div>
			</div>
			
			<div class="col-sm-5">  
 <p><span class="glyphicon glyphicon-envelope" style="color:#0E7480;font-size:2em"></span></p>
          <div ng-controller="ContactFormController" class="panel-body">
         
                    <form ng-submit="submit(contactform)" name="contactform" method="post" action="" class="form-horizontal" role="form">
                     <div class="col-md-12">
                      <div class='row'>
                      <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                           
                        
                                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                            </div>
                        </div>

                      <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                        
                
                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                            </div>
                        </div>
                        </div>
                        </div>
                   <div class="col-md-12">
                     
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">                        
                           
                                <textarea ng-model="formData.inputMessage" class="form-control" rows="3" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                            </div>
                        </div>
                       <div class="col-md-12">
                        <div class="form-group">
                            
                                <button type="submit" class="btn btn-danger btn-lg btn-block" ng-disabled="submitButtonDisabled" arial-label='Left Align'><span class="glyphicon glyphicon-send pull-right"></span>
                                    Send Message
                                </button>


                            </div>
                        </div>
                     
                       </div>
                      </div>
                      

                    </form>
                     <div class="alert alert-danger" ng-show="error">
            <button class="close" data-dismiss="alert">x</button>
            <strong>Error!</strong> An error occured while trying to send message.
          </div>
           <div class="alert alert-success" ng-show="success">
            <button class="close" data-dismiss="alert">x</button>
            <strong>Success! </strong> Your message was successfully sent.
          </div>
                    </div>
                    <p ng-class="result" style="padding: 15px; margin: 0;">{{resultMessage}}</p>
                </div></div>

		</div>
	</div>
	<div class="bottom-last">
		<div class="container">
			<div class="row">
				<div class="col-sm-12"><h5>Copyright &copy; 2015 Inventive Labs, LLC. All rights reserved</h5>
				</div>
			</div>
		</div>
	</div>
</footer><!-- </article> -->