<header>
	<div class="container">
	    <div class="row">
	    	<div class="col-md-4 pull-left">
	       <a ui-sref="home"><img src="assets/images/logos.png" style="width:300px;"></a></div>
	   
	    	<div class="col-md-8 hidden-xs pull-right">
		    	<div class="contact">
		    			<span class="glyphicon glyphicon-phone-alt"></span> 512-999-0018
		      </div>
	    		<div class="contact">
	    			<span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@inventivelabs.co">info@inventivelabs.co</a>   
	    		</div>    		
	      </div>
	    </div>
	   </div>
  </header>