<section>
<div class='container about'>
	<div class='row'>
		<div class='col-md-12'>
			<h1>About Inventive Labs LLC</h1>
			<p> 
We are interactive web design, development and solutions conpany based in Austin Texas. We create and build web application with Ruby on Rails, full stack Javascript (AngularJs, NodeJS, ExpressJS and MongoDB know as MEAN) and open source technologies. We focuses on delivering high quality delightful experiences on time within your budget <!-- at affordable prices -->.We listening to you and work hard to exceed your expectations</p>
		</div>
	</div>
</div>
</section>